.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction .swiper-pagination {
    bottom: 40px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: transparent;
    opacity: 1;
    margin-right: 5px !important;
}

.swiper-pagination-bullet-active {
    background: #fff;
}